
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
      <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="instrument">
        <h3 class="title">Voltage</h3>
        <h2 class="data"> {{ voltage }}</h2>
    </div>
     <div class="instrument">
        <h3 class="title">Amperage</h3>
        <h2 class="data"> {{ Amperage }}</h2>
    </div>
     <div class="instrument">
        <h3 class="title">Voltage</h3>
        <h2 class="data"> {{ voltage }}</h2>
    </div>
     <div class="instrument">
        <h3 class="title">Voltage</h3>
        <h2 class="data"> {{ voltage }}</h2>
    </div>
  </body>