
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <script>
        function updateNumber() {
            fetch('/update')
            .then(response => response.json())
            .then(data => {
                document.getElementById('motorTemp').innerText = data.number;
            })
            .catch(error => console.log('Error:', error));
        }

        // Update every 2 seconds (2000 milliseconds)
        setInterval(updateNumber, 2000);
    </script>
</head>
  <body>
    <div class="instrument">
        <h3 class="title">Voltage</h3>
        <h2 class="data">{{ voltage }}</h2>
    </div>
     <div class="instrument">
        <h3 class="title">Amperage</h3>
        <h2 class="data">{{ amperage }}</h2>
    </div>
     <div class="instrument">
        <h3 class="title">Motor_Temp</h3>
        <h2 class="data", id="motorTemp">N/A</h2>
    </div>
     <div class="instrument">
        <h3 class="title">RPM</h3>
        <h2 class="data">{{ rpm }}</h2>
    </div>
  </body>
</html>
