
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/updateVariables.js">
        
    </script>
</head>
  <body>
    <div class="instrument">
        <h3 class="title">Voltage</h3>
        <h2 class="data" id="voltage">N/A</h2>
    </div>
     <div class="instrument">
        <h3 class="title">Current</h3>
        <h2 class="data" id="amperage">N/A</h2>
    </div>
     <div class="instrument">
        <h3 class="title">Temp</h3>
        <h2 class="data" id="motorTemp">N/A</h2>
    </div>
     <div class="instrument">
        <h3 class="title">RPM</h3>
        <h2 class="data" id="rpm">N/A</h2>
    </div>
  </body>
</html>
