html {
    color: #212121;
    background: #ffffff;
    
}
body{
    justify-content: center;
    allign-items: center;
   
    display: flex;
}
.instrument{
    
	text-allign: center;
    font-size: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.data{
    padding-top: 15px;
    text-align: center;

}
.title{
    text-align: center;
}