html {
    background: #212121;
    color: #ffffff;
    
}
body{
    justify-content: center;
    allign-items: center;
   
    display: flex;
}
.instrument{
    background: #212121;
	color: #ffffff;
	text-allign: center;
    font-size: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.data{
    padding-top: 15px;
    text-align: center;

}
.title{
    text-align: center;
}